#lastest-article {

    margin-bottom: 150px;

    hr {
        background: rgba(157, 121, 199 , .5);
        margin: 20px 0;
    }

    .header {
        text-align: left;
        margin-bottom: 0px;
        .title {
            display: inline-block;
            position: relative;
            margin: 0;
            color: $black;
            font-family: 'Raleway', sans-serif;
            font-size: 24px;
            font-size: clamp(20px, 5.5vw, 24px);
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
            letter-spacing: 3px;
            text-transform: uppercase;
            @media screen and (max-width: 768px) {
                display: block;
                width: fit-content;
                margin: 0 auto;
            }
        }
        .title:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            z-index: -1;
            background: $yellow;
        }
    
        
        .subtitle {
            margin: 20px 0;
            color: $black;
            font-family: 'Raleway', sans-serif;
            // font-size: 100px;
            font-size: clamp(50px, 5.5vw, 100px);
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 0;
            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }
        .description {
            padding-top: 70px;
            margin-top: 70px;
            border-top: 1px solid rgba(157, 121, 199 , .5);
            text-align: center;
            font-family: Prompt;
            font-size: clamp(15px, 1.5vw, 19px);
            font-style: normal;
            font-weight: 500;
            line-height: 197%; /* 37.43px */
            letter-spacing: 0.095px;
        }
    }
}

.cardArticle {
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
}
.cardArticleImage {
    width: 100%;
    img {
        width: 100%;
    }
}
.cardArticleTag {
    margin: 0;
    display: inline-block;
    padding: 0px 20px;
    background-color: $black;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 266.667% */
}
.cardArticleBody {
    padding: 20px;
}

.cardArticleTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 145.455% */
}
.cardArticleFooter {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid rgba(157, 121, 199 , .2);

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px; /* 200% */

    span {
        display: inline-flex;
        align-items: center;
        gap: 25px;
    }
}